<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      {{@include('head.html',it) /}}
   </head>
   <body>
    {{@include('navbar.html',it) /}}
  
      <div class="max-w-6xl grid md:grid-cols-3 mx-auto">
         <div class="md:col-span-2 p-6">
            <div class="flex justify-between">
               <h1 class="lg:text-3xl text-xl font-semibold">Opini Anda</h1>
               <div>
                  <a href="/auth/write"
                     class="bg-orange-500 text-white px-4 py-2 rounded-full"
                  >
                     Tulis Opini
               </a>
               </div>
            </div>

            <div>
               
               <div id="list-post"></div>
               
            </div>
         </div>
         <div class="lg:min-h-screen lg:border-l p-6">halo</div>
      </div>
      <script>
        new ListPost({
             target: document.querySelector("#list-post"),
          });
       </script>
   </body>
</html>
